/* Name: Akshay Mathew
	File: style.css
	Date: 22 February 2024
  Styling a box using CSS */

html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  /*arrange the size and position*/
  line-height: 150px;
  width: 200px;
  height: 150px;
  margin: auto;
  font-size: 1.125rem;
  /*Font size needs to be 16px*/
  text-align: center;
  color: white;

  font-size: 1.125rem;
  color: white;
  border: 1px solid #990000;


/*Background color and gradient*/
  background-color: red;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));

  /*text shadow*/
  text-shadow: 1px 1px 1px black;

  /*Border and border radius*/
  border: 1px solid rgb(230, 184, 184);
  border-radius: 10px;


  /*box shadow*/
  box-shadow: 2px 2px 5px black;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 5px rgba(0, 0, 0, 0.6);

  

}