
/* General setup */

* {
  box-sizing: border-box;
}

html{
  font-size: 10px;
}


body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  font-family: 'Lato', sans-serif;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* WRITE YOUR CODE BELOW HERE */

/*Fonts*/
@font-face {
  font-family: 'pt_serifbold';
  src: url('ptserif-bold-webfont.woff2') format('woff2'),
       url('ptserif-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Regular.woff2') format('woff2'),
      url('Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html{
  font-family:'Lato', sans-serif;
  font-size: 10px;
}

h1,h2{
  font-family:'pt_serif', serif;
  letter-spacing: 2px;
}

/*Headings*/

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* Headings */
h1 {
  font-size: 2.5rem; 
  text-align: center;
  letter-spacing: 1px;
  font-family: 'pt_serifbold', sans-serif;
}

h2 {
  font-size: 2rem; 
  letter-spacing: 0.5px;
}

/* Paragraphs */
p {
  font-size: 1.4rem; 
}

section > h2 + p:first-of-type,
section > h1 + p:first-of-type {
  text-indent: 20px;
}

/* Lists */
ul,
ol {
  font-size: 1.4rem; 
}

/* Links */
a {
  font-size: 1.4rem; 
  color: #a66;
  text-decoration: underline;
  position: relative;
}

a[ href*="http"] {
  padding-right: 19px;
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 16px 16px;
}
  

a:visited {
  color: #794d35;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #d99;
  outline: none;
}
a:active {
  color: #3a3;
}

/*Lists*/

ul, ol {
  margin: 1.6rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}


/*Navigation menu*/

nav {
  float: right; /* Align the navigation menu to the right */
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none; /* Remove the bullets */
}

nav li {
  margin-bottom: 10px; /* Adjust vertical spacing between menu items */
}

nav li:first-child {
  margin-top: 0; /* Remove top margin from the first menu item */
}

nav li a {
  text-decoration: none;
  display: block; /* Display items as block elements */
  width: 150px; /* Set a fixed width for all boxes */
  padding: 10px; /* Adjust padding */
  color: #333;
  font-size: 1.6rem; /* Adjust font size */
  border: 2px solid #a66;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-align: center; /* Center align text */
}

nav li a:hover {
  color: white;
  background: #a66;
}
